<div class="content">
    <form class="form">
        <h1>Deletar Paciente</h1>
      
        <table class="full-width" cellspacing="20">
          <tr>
            <td>
              <mat-form-field class="full-width" appearance="fill">
                <mat-label>Nome</mat-label>
                <input [(ngModel)]="donator.nome" name="name" matInput disabled>
                </mat-form-field>
            </td>
      
            <td>
              <mat-form-field class="full-width" appearance="fill">
                <mat-label disable>Hospital</mat-label>
                <input [(ngModel)]="donator.endereco" name="hospital" matInput disabled>
                </mat-form-field>
            </td>
          </tr>
      
        <tr>
            <td class="first-field">
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Idade</mat-label>
                    <input [(ngModel)]="donator.idade" matInput disabled name="age" type="number" value="" min="16" max="69">
                </mat-form-field>
                <td>
                  <mat-form-field class="full-width" appearance="fill">
                  <mat-label>Tipo Sanguíneo</mat-label>
                  <input [(ngModel)]="donator.tipoSanguineo" matInput disabled name="bloodType">
                </mat-form-field>
              </td>
        </tr>

        <div class="buttons">
            <button mat-raised-button class="sendButton" (click)="delete()">Deletar</button>
            <button mat-raised-button class="cancelButton" routerLink="/listarPacientes">Cancelar</button>
        </div>
        
        </table>
      </form>

      
            
</div>