.example-form {
    min-width: 150px;
    display: block;
    justify-content: center;
  }

  h1 {
      text-align: center;
  }

  .buttons {
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
}

.bloodType {
  margin: 10px;
  display: flexbox;
}

.cancelButton {
    color: crimson;
    background-color: white;
}

.radBut {
    color: white;
}

.sendButton {
    color: crimson;
    background-color: white;
}
  
  .full-width {
    justify-content: center;
    table-layout: fixed;
    width: 100%;
  }

  .age {
      width: 30%;
      color: white;
  }

  .rhesus {
      margin-top: 10px;
  }

  .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }

  .ageDiv {
      color: white;
  }

  .dateDiv {
      margin-top: 20px;
      width: 100%;
  }
  
  .first-field {
    padding-right: 8px;
  }

  .container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  
  .container .mat-form-field {
    width: 220px;
  }
  
  .container form {
    margin-bottom: 20px;
  }
  
  .container form > * {
    margin: 5px 0;
  }
  
  .container .mat-radio-button {
    margin: 0 12px;
  }